/**
    Title: mclaurine-number.css, 
    Author: Trevor McLaurine
    Date: 1/23/2023
    Description: Styling for Number Guessing Game
**/

body {
    display: flex; 
    justify-content: center;
}

#container {
    width: 600px; 
    margin:0 auto; 
}

.app-header {
    text-align: center;
    font-weight: 400; 
}

#assign-results {
    text-align: center;
    font-size: 28px;
    margin-top: 5%;
}