
/**
    Title: mclaurine-future-value.css, 
    Author: Trevor McLaurine
    Date: 4/11/2023
    Description: Styling for the Future Value App
**/

body {
    display: flex; 
    justify-content: center;
}

input {
    padding: 0.5rem;
}

i {
    text-align: right;
}

.danger {
    float: right; 
    color: #df546a; 
    font-size: 12px; 
    letter-spacing: 2px; 
    min-width: 100%;
   
}

.form-label {
    display: inline-block; 
}

#futureValue {
    font-size: 2rem; 
    text-align: center;
}

.row {
    padding: 0.5rem 0;
}


